<div style="font-family: Souvenir" class="dice-result">
    <div class="dice-tooltip expanded" style="display: block;">
        <h2>{{label}}</h2>
        <b style="font-size:13pt">Ob: {{ob}}</b>
        <ol class="dice-rolls">
            {{#each dice as |value key|}}
                <li class="roll die d6{{#if (eq value.count 0)}} failure{{else}}{{#if (eq value.result 6)}} success{{/if}}{{/if}}">{{value.result}}</li>
            {{/each}}
            {{#if (gt miscSuccesses 0)}}
                <li style="line-height:24px;font-size:var(--font-size-16);font-weight:bold">+{{miscSuccesses}}S</li>
            {{/if}}
        </ol>
        <b>{{successes}} Successes</b>
        <br>
        <br>
        {{#if succeeded}}
            <b style="font-size:15pt">Success!</b>
        {{else}}
            <b style="font-size:15pt">Failure</b>
        {{/if}}
    </div>
</div>