<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <body>

    <div>
      <h1 style="text-align: center;">The Grind</h1>
      {{#if (gte system.turn 0)}}
        {{#if (lte system.turn 4)}}
          <img class="advanceGrind" title="Click me to advance the grind" style="position: relative; left:calc(50% - 100px); width: 200px; height: 200px; border: none" src="/systems/ivys_torchbearer/assets/grind clock/{{system.turn}}.png"/>
        {{/if}}
      {{/if}}
    </div>
    
    <div>
      <h1 style="text-align: center;">Character List</h1>
      <br>
      <ol class="items-list">
        <li class="item flexrow items-header">
          <div class="item-name">Character</div>
          <div class="item-name">Player</div>
          <div class="item-controls"></div>
        </li>
        {{#each system.actor_list as |useless id|}}
          <li class="item flexrow" data-item-id="{{id}}">
            <div class="item-name">
              <h4>{{getActorCharacterName id}}</h4>
            </div>
            <div class="item-name">{{getActorPlayerName id}}</div>
            <div class="item-controls">
              <a title="Remove Character from Grind"><i class="fas fa-trash grindActorDeleteButton"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

  </body>
</form>

