<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div>
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
          <label class="resource-label">
            <span>
              {{#if (eq system.who_you_are.level 1)}}
              {{system.who_you_are.level}}st
              {{else}}
                {{#if (eq system.who_you_are.level 2)}}
                {{system.who_you_are.level}}nd
                {{else}}
                  {{#if (eq system.who_you_are.level 3)}}
                  {{system.who_you_are.level}}rd
                  {{else}}
                  {{system.who_you_are.level}}th
                  {{/if}}
                {{/if}}
              {{/if}}
              Level 
            </span>
            {{system.who_you_are.class}}
          </label>
        </div>
      </div>
      
      {{!-- Conditions Bar --}}
      <div class="resources flexrow flex-between">
      {{!-- <div class="resources grid grid-8col"> --}}
          {{#each system.conditions as |value key|}}
            <div class="flexcol flex-center" style="margin: 10px; text-align: center; border: 1px solid black; padding-left: 10px;padding-right: 10px" title="{{value.hover_text}}&#013;{{value.recovery}}">
              <label for="system.conditions.{{key}}.value" class="resource-label" style="display:flex; align-items: center">{{value.display_name}}</label>
              <input type="checkbox" name="system.conditions.{{key}}.value" data-dtype="Boolean" {{checked value.value}}/>
            </div>
          {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="core">It Revolves on This</a>
    <a class="item" data-tab="skills_abilities">Skills & Abilities</a>
    {{#if system.using_text_inventory}}
      <a class="item" data-tab="text_inventory">Inventory</a>
    {{else}}
      <a class="item" data-tab="inventory">Inventory</a>
    {{/if}}
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="bio">About Me</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Core Stats Tab --}}
    <div class="tab features" data-group="primary" data-tab="core">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <h2>Who You Are</h2>
          <div class="resources grid grid-2col">
            <div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.stock" class="resource-label">Stock: </label>
                <input type="text" name="system.who_you_are.stock" value="{{system.who_you_are.stock}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.class" class="resource-label">Class: </label>
                <input type="text" name="system.who_you_are.class" value="{{system.who_you_are.class}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.age" class="resource-label">Age: </label>
                <input type="text" name="system.who_you_are.age" value="{{system.who_you_are.age}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.home" class="resource-label">Home: </label>
                <input type="text" name="system.who_you_are.home" value="{{system.who_you_are.home}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.raiment" class="resource-label">Raiment: </label>
                <input type="text" name="system.who_you_are.raiment" value="{{system.who_you_are.raiment}}" data-dtype="String"/>
              </div>
            </div>

            <div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.parents" class="resource-label">Parents: </label>
                <input type="text" name="system.who_you_are.parents" value="{{system.who_you_are.parents}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.mentor" class="resource-label">Mentor: </label>
                <input type="text" name="system.who_you_are.mentor" value="{{system.who_you_are.mentor}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.friend" class="resource-label">Friend: </label>
                <input type="text" name="system.who_you_are.friend" value="{{system.who_you_are.friend}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.enemy" class="resource-label">Enemy: </label>
                <input type="text" name="system.who_you_are.enemy" value="{{system.who_you_are.enemy}}" data-dtype="String"/>
              </div>
              <div class="grid grid-2col flex-group-center">
                <label for="system.who_you_are.level" class="resource-label">Level: </label>
                <input type="text" name="system.who_you_are.level" value="{{system.who_you_are.level}}" data-dtype="Number"/>
              </div>
            </div>
          </div>

          <div title="Level 1: 0F 0P&#013;Level 2: 3F 3P&#013;Level 3: 7F 6P&#013;Level 4: 14F 12P&#013;Level 5: 22F 20P&#013;Level 6: 31F 30P&#013;Level 7: 41F 42P&#013;Level 8: 52F 56P&#013;Level 9: 64F 72P&#013;Level 10: 78F 98P&#013;">
            <h2 style="text-align: center">Artha</h2>
            <div class="resources grid grid-2col">
              <div>
                <h3 style="text-align: center">Fate</h3>
                <div class="flexrow flex-between">
                  <input style="text-align: center" type="number" name="system.artha.fate.current" value="{{system.artha.fate.current}}" data-dtype="Number"/>
                  <span style="text-align: center"> / </span>
                  <input style="text-align: center" type="number" name="system.artha.fate.spent" value="{{system.artha.fate.spent}}" data-dtype="Number"/>
                </div>
              </div>
              <div>
                <h3 style="text-align: center">Persona</h3>
                <div class="flexrow flex-between">
                  <input style="text-align: center" type="number" name="system.artha.persona.current" value="{{system.artha.persona.current}}" data-dtype="Number"/>
                  <span style="text-align: center"> / </span>
                  <input style="text-align: center" type="number" name="system.artha.persona.spent" value="{{system.artha.persona.spent}}" data-dtype="Number"/>
                </div>
              </div>
            </div>
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          <h2>What You Fight For</h2>
          <div>
            <div style="padding: 5px">
              <h3>Belief</h3>
              <textarea placeholder="Uphold your belief in your actions to earn a fate point" name="system.what_you_fight_for.belief" data-dtype="String">{{system.what_you_fight_for.belief}}</textarea>
            </div>
            <div style="padding: 5px">
              <h3>Creed</h3>
              <textarea placeholder="Endure a moral test driven by your creed and earn a persona point" name="system.what_you_fight_for.creed" data-dtype="String">{{system.what_you_fight_for.creed}}</textarea>
            </div>
            <div style="padding: 5px">
              <h3>Goal</h3>
              <textarea placeholder="Accomplish a goal to earn a persona point" name="system.what_you_fight_for.goal" data-dtype="String">{{system.what_you_fight_for.goal}}</textarea>
            </div>
            <div style="padding: 5px">
              <h3>Instinct</h3>
              <textarea placeholder="Use an instinct to aid the group and earn a fate point" name="system.what_you_fight_for.instinct" data-dtype="String">{{system.what_you_fight_for.instinct}}</textarea>
            </div>
          </div>
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{!-- {{> "systems/ivys_torchbearer/templates/actor/parts/actor-features.hbs"}} --}}
        </section>

      </section>

      <section class="grid grid-5col">
        <div class="grid-span-2">
          <h2>Traits</h2>
          <div class="grid grid-4col">
            <b>Trait Name</b>
            <b>Trait Level</b>
            <b>Beneficial Uses</b>
            <b>Checks</b>
          </div>
          {{#each system.traits as |value key|}}
            <div class="grid grid-4col">
              <input type="text" name="system.traits.{{key}}.name" value="{{value.name}}" data-dtype="String"/>
              <input title="1: +1D per session&#013;2: +1D twice per session&#013;3: +1s on all successful / tied rolls" type="number" name="system.traits.{{key}}.level" value="{{value.level}}" data-dtype="Number"/>
              {{#if (gt value.level 2)}}
                <span>N/A (Unlimited Uses)</span>
              {{else}}
                <input type="number" name="system.traits.{{key}}.beneficial_uses_spent" value="{{value.beneficial_uses_spent}}" data-dtype="Number"/>
              {{/if}}
              <input type="number" name="system.traits.{{key}}.checks_gathered" value="{{value.checks_gathered}}" data-dtype="Number"/>
            </div>
          {{/each}}
        </div>
        <div class="grid-span-3">
          <h2>Wises</h2>
          {{#each system.wises as |value key|}}
            <input type="text" name="system.wises.{{key}}.name" value="{{value.name}}" data-dtype="String"/>
            <div class="grid grid-4col">
              <div class="flexrow">
                <label for="system.wises.{{key}}.pass" class="resource-label" style="display:flex; align-items: center">Pass: </label>
                <input type="checkbox" name="system.wises.{{key}}.pass" data-dtype="Boolean" {{checked value.pass}}/>
              </div>
              <div class="flexrow">
                <label for="system.wises.{{key}}.fail" class="resource-label" style="display:flex; align-items: center">Fail: </label>
                <input type="checkbox" name="system.wises.{{key}}.fail" data-dtype="Boolean" {{checked value.fail}}/>
              </div>
              <div class="flexrow">
                <label for="system.wises.{{key}}.fate" class="resource-label" style="display:flex; align-items: center">Fate: </label>
                <input type="checkbox" name="system.wises.{{key}}.fate" data-dtype="Boolean" {{checked value.fate}}/>
              </div>
              <div class="flexrow">
                <label for="system.wises.{{key}}.persona" class="resource-label" style="display:flex; align-items: center">Persona: </label>
                <input type="checkbox" name="system.wises.{{key}}.persona" data-dtype="Boolean" {{checked value.persona}}/>
              </div>
            </div>  
          {{/each}}
        </div>
      </section>
    </div>

    <div class="tab skills_abilities" data-group="primary" data-tab="skills_abilities">
      {{!-- Abilities --}}
      <div>
        <h2>Abilities</h2>
        <div class="grid grid-2col">
          {{!-- Raw Abilities --}}
          <div>
            <div class="flexrow">
              <span>Raw Ability</span>
              <span>Rating</span>
              <span>Passes</span>
              <span>Fails</span>
            </div>
            {{#each system.abilities.raw_abilities as |value key|}}
              <div class="flexrow">
                <span class="rollable" data-roll="{{key}}" data-label="{{value.name}}">{{value.name}}</span>
                {{#if (eq key "nature")}}
                  <div class="grid grid-3col">
                    <input type="number" name="system.abilities.raw_abilities.{{key}}.rating" value="{{value.rating}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="number" name="system.abilities.raw_abilities.{{key}}.max" value="{{value.max}}" data-dtype="Number"/>
                  </div>
                {{else}}
                  <input type="number" name="system.abilities.raw_abilities.{{key}}.rating" value="{{value.rating}}" data-dtype="Number"/>
                {{/if}}
                <input type="number" name="system.abilities.raw_abilities.{{key}}.passes" value="{{value.passes}}" data-dtype="Number"/>
                <input type="number" name="system.abilities.raw_abilities.{{key}}.fails" value="{{value.fails}}" data-dtype="Number"/>
              </div>
            {{/each}}
          </div>

          {{!-- Town Abilities --}}
          <div>
            <div class="flexrow">
              <span>Town Ability</span>
              <span>Rating</span>
              <span>Passes</span>
              <span>Fails</span>
            </div>
            {{#each system.abilities.town_abilities as |value key|}}
              <div class="flexrow">
                <span class="rollable" data-roll="{{key}}" data-label="{{value.name}}">{{value.name}}</span>
                <input type="number" name="system.abilities.town_abilities.{{key}}.rating" value="{{value.rating}}" data-dtype="Number"/>
                <input type="number" name="system.abilities.town_abilities.{{key}}.passes" value="{{value.passes}}" data-dtype="Number"/>
                <input type="number" name="system.abilities.town_abilities.{{key}}.fails" value="{{value.fails}}" data-dtype="Number"/>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="flexrow">
          <input type="number" name="system.prescedence" value="{{system.prescedence}}" data-dtype="Number"/>
          <input type="number" name="system.might" value="{{system.might}}" data-dtype="Number"/>
        </div>

        </div>
        
      {{!-- Skills --}}
      <h2>Skills</h2>
      <div>
        <div class="flexrow">
          <span>Skill</span>
          <span>Rating</span>
          <span>Passes</span>
          <span>Fails</span>
        </div>
        {{#each system.skills as |value key|}}
          <div class="flexrow">
            <span class="rollable" data-roll="{{key}}" data-label="{{capitalize key}}">{{capitalize key}}</span>
            <input type="number" name="system.skills.{{key}}.rating" value="{{value.rating}}" data-dtype="Number"/>
            <input type="number" name="system.skills.{{key}}.passes" value="{{value.passes}}" data-dtype="Number"/>
            <input type="number" name="system.skills.{{key}}.fails" value="{{value.fails}}" data-dtype="Number"/>
          </div>
        {{/each}}
      </div>
      </div>
    </div>


    {{!-- Text Inventory Tab --}}
    <div class="tab item" data-group="primary" data-tab="text_inventory">
      
      {{!-- {{> "systems/ivys_torchbearer/templates/actor/parts/actor-items.hbs"}} --}}

      {{!-- Body --}}
      <h1 style="text-align:center">Your Person</h1>
      <div class="grid grid-2col">
        <div>
          <h2>Head</h2>
          {{#each system.text_inventory.body.head as |value key|}}
            <input type="text" name="system.text_inventory.body.head.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          <h2>Neck</h2>
          {{#each system.text_inventory.body.neck as |value key|}}
            <input type="text" name="system.text_inventory.body.neck.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- <input type="text" name="system.text_inventory.body.neck.a.item" value="{{system.text_inventory.body.neck.a.item}}" placeholder="{{system.text_inventory.body.neck.a.label}}" data-dtype="String"/> --}}
          <h2>Hands</h2>
          {{#each system.text_inventory.body.hands as |value key|}}
            <input type="text" name="system.text_inventory.body.hands.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 2 worn, 2 carried --}}
          <h2>Feet</h2>
          {{#each system.text_inventory.body.feet as |value key|}}
            <input type="text" name="system.text_inventory.body.feet.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 1 worn --}}
        </div>
        <div>
          <h2>Torso</h2>
          {{#each system.text_inventory.body.torso as |value key|}}
            <input type="text" name="system.text_inventory.body.torso.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 3 worn --}}
          <h2>Belt</h2>
          {{#each system.text_inventory.body.belt as |value key|}}
            <input type="text" name="system.text_inventory.body.belt.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 3 belt --}}
          <h2>Pocket</h2>
          {{#each system.text_inventory.body.pocket as |value key|}}
            <input type="text" name="system.text_inventory.body.pocket.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 1 trinkets --}}
        </div>
      </div>
      
      {{!-- Containers --}}
      <h1 style="text-align:center">Containers</h1>
      <div class="grid grid-2col">
        <div>
          <h2>Satchel / Backpack</h2>
          {{#each system.text_inventory.satchel_backpack as |value key|}}
            <input type="text" name="system.text_inventory.satchel_backpack.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
            {{#if (eq key "c")}}
            <span style="text-align:center">(Use the following slots only if Backpack)</span>
            {{/if}}
          {{/each}}
          {{!-- 3/6 pack --}}
        </div>
        <div>
          <h2>Small Sack</h2>
          {{#each system.text_inventory.small_sacks.a as |value key|}}
            <input type="text" name="system.text_inventory.small_sacks.a.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 2 --}}
          <h2>Small Sack</h2>
          {{#each system.text_inventory.small_sacks.b as |value key|}}
            <input type="text" name="system.text_inventory.small_sacks.b.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 2 --}}
          <h2>Large Sack</h2>
          {{#each system.text_inventory.large_sack as |value key|}}
            <input type="text" name="system.text_inventory.large_sack.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 6 --}}
        </div>
      </div>

      {{!-- Cache and Misc --}}
      <h1 style="text-align:center">Cache & Misc.</h1>
      <div class="flexrow">
          <div class="grid grid-2col">
            <div>
              <h2>Cache</h2>
              {{#each system.text_inventory.cache as |value key|}}
                <input type="text" name="system.text_inventory.cache.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
              {{/each}}
              {{!-- 12 --}}
            </div>
            <div>
              <h2>Misc.</h2>
              {{#each system.text_inventory.misc as |value key|}}
                <input type="text" name="system.text_inventory.misc.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
              {{/each}}
              {{!-- 12 --}}
            </div>
          </div>
        </div>
    </div>

    
    {{!-- Inventory Tab --}}
    <div class="tab item" data-group="primary" data-tab="inventory">
      for real!
      {{!-- Body --}}
      <h1 style="text-align:center">Your Person</h1>
      <div class="grid grid-2col">
        <div>
          <h2>Head</h2>
          {{#each system.text_inventory.body.head as |value key|}}
            <input type="text" name="system.text_inventory.body.head.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          <h2>Neck</h2>
          {{#each system.text_inventory.body.neck as |value key|}}
            <input type="text" name="system.text_inventory.body.neck.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- <input type="text" name="system.text_inventory.body.neck.a.item" value="{{system.text_inventory.body.neck.a.item}}" placeholder="{{system.text_inventory.body.neck.a.label}}" data-dtype="String"/> --}}
          <h2>Hands</h2>
          {{#each system.text_inventory.body.hands as |value key|}}
            <input type="text" name="system.text_inventory.body.hands.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 2 worn, 2 carried --}}
          <h2>Feet</h2>
          {{#each system.text_inventory.body.feet as |value key|}}
            <input type="text" name="system.text_inventory.body.feet.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 1 worn --}}
        </div>
        <div>
          <h2>Torso</h2>
          {{#each system.text_inventory.body.torso as |value key|}}
            <input type="text" name="system.text_inventory.body.torso.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 3 worn --}}
          <h2>Belt</h2>
          {{#each system.text_inventory.body.belt as |value key|}}
            <input type="text" name="system.text_inventory.body.belt.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 3 belt --}}
          <h2>Pocket</h2>
          {{#each system.text_inventory.body.pocket as |value key|}}
            <input type="text" name="system.text_inventory.body.pocket.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 1 trinkets --}}
        </div>
      </div>
      
      {{!-- Containers --}}
      <h1 style="text-align:center">Containers</h1>
      <div class="grid grid-2col">
        <div>
          <h2>Satchel / Backpack</h2>
          {{#each system.text_inventory.satchel_backpack as |value key|}}
            <input type="text" name="system.text_inventory.satchel_backpack.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
            {{#if (eq key "c")}}
            <span style="text-align:center">(Use the following slots only if Backpack)</span>
            {{/if}}
          {{/each}}
          {{!-- 3/6 pack --}}
        </div>
        <div>
          <h2>Small Sack</h2>
          {{#each system.text_inventory.small_sacks.a as |value key|}}
            <input type="text" name="system.text_inventory.small_sacks.a.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 2 --}}
          <h2>Small Sack</h2>
          {{#each system.text_inventory.small_sacks.b as |value key|}}
            <input type="text" name="system.text_inventory.small_sacks.b.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 2 --}}
          <h2>Large Sack</h2>
          {{#each system.text_inventory.large_sack as |value key|}}
            <input type="text" name="system.text_inventory.large_sack.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
          {{/each}}
          {{!-- 6 --}}
        </div>
      </div>

      {{!-- Cache and Misc --}}
      <h1 style="text-align:center">Cache & Misc.</h1>
      <div class="flexrow">
          <div class="grid grid-2col">
            <div>
              <h2>Cache</h2>
              {{#each system.text_inventory.cache as |value key|}}
                <input type="text" name="system.text_inventory.cache.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
              {{/each}}
              {{!-- 12 --}}
            </div>
            <div>
              <h2>Misc.</h2>
              {{#each system.text_inventory.misc as |value key|}}
                <input type="text" name="system.text_inventory.misc.{{key}}.item" value="{{value.item}}" placeholder="{{value.label}}" data-dtype="String"/>
              {{/each}}
              {{!-- 12 --}}
            </div>
          </div>
        </div>
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/ivys_torchbearer/templates/actor/parts/actor-spells.hbs"}}
    </div>

    
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="bio">
      {{!-- Biography --}}
      <div>
        <h2>Biography</h2>
        <textarea placeholder="Biography" name="system.bio.biography" data-dtype="String">{{system.bio.biography}}</textarea>
      </div>

      
      {{!-- Notes --}}
      <div>
        <h2>Notes</h2>
        <textarea placeholder="Notes" name="system.bio.notes" data-dtype="String">{{system.bio.notes}}</textarea>
      </div>

      
      {{!-- Allies and Enemies --}}
      <div>
        <h2>Allies and Enemies</h2>
        <textarea placeholder="Allies and Enemies" name="system.bio.allies_and_enemies" data-dtype="String">{{system.bio.allies_and_enemies}}</textarea>
      </div>

      <div>
        <h2>Level Benefits</h2>
        <ol class="items-list">
           <li class="item flexrow items-header">
            <div class="item-name">Benefit</div>
          </li>
          {{#each features as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image">
                  <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
                </div>
                <h4><a class="item-control item-edit">{{item.name}}</a></h4>
              </div>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>

      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{!-- {{editor system.biography target="system.bio.biography" rollData=rollData button=true owner=owner editable=editable}} --}}
    </div>

  </section>
</form>

