<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      
       <div class="grid grid-3col">
        <div style="display:flex;align-items:center;margin:0px">
          <span>Circle:</span>
          <input name="system.circle" type="number" value="{{system.circle}}" data-dtype="Number"/>
        </div>
        <div style="display:flex;align-items:center;margin:0px">
          <span>Memorized:</span>
          <input type="checkbox" name="system.memorized" data-dtype="Boolean" {{checked system.memorized}}/>
        </div>
        <div style="display:flex;align-items:center;margin:0px">
          <span>In Spellbook:</span>
          <input type="checkbox" name="system.in_spellbook" data-dtype="Boolean" {{checked system.in_spellbook}}/>
        </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{!-- <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav> --}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- <textarea placeholder="A magic spell does something..." name="system.description" data-dtype="String">{{system.description}}</textarea> --}}

    <h2>Description</h2>
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}

    <h2>{{item.name}} Effect</h2>
    {{editor system.effect target="system.effect" rollData=rollData button=true owner=owner editable=editable}}
    {{!-- <textarea placeholder="... and that something has an effect" name="system.effect" data-dtype="String">{{system.effect}}</textarea> --}}
    <table>
      <tr>
        <td>
          <span><b>Focus:</b> <input type="text" name="system.focus" value="{{system.focus}}" data-dtype="String"/></span>
        </td>
        <td>
          <span><b>Materials:</b> <input type="text" name="system.materials" value="{{system.materials}}" data-dtype="String"/></span>
        </td>
      </tr>
      <tr>
        <td>
          <span><b>To Scribe:</b> <input type="text" name="system.to_scribe" value="{{system.to_scribe}}" data-dtype="String"/></span>
        </td>
        <td>
          <span><b>To Learn:</b> <input type="text" name="system.to_learn" value="{{system.to_learn}}" data-dtype="String"/></span>
        </td>
      </tr>
      <tr>
        <td>
          <span><b>Casting:</b> <input type="text" name="system.casting" value="{{system.casting}}" data-dtype="String"/></span>
        </td>
        <td>
          <span><b>Casting Time:</b> <input type="text" name="system.casting_time" value="{{system.casting_time}}" data-dtype="String"/></span>
        </td>
      </tr>
      <tr>
        <td>
          <span><b>Duration:</b> <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/></span>
        </td>
        <td>
        </td>
      </tr>
    </table>
    
    <h2>{{item.name}} Factors</h2>
    {{editor system.factors target="system.factors" rollData=rollData button=true owner=owner editable=editable}}
    {{!-- <textarea placeholder="... and it requires some effort" name="system.factors" data-dtype="String">{{system.factors}}</textarea> --}}

    <h2>Misc. Notes</h2>
    {{editor system.misc target="system.misc" rollData=rollData button=true owner=owner editable=editable}}
    {{!-- <textarea name="system.misc" data-dtype="String">{{system.misc}}</textarea> --}}

    {{!-- Description Tab
    <div class="tab" data-group="primary" data-tab="description"> --}}
      {{!-- {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}} --}}
    {{!-- </div> --}}

    {{!-- Attributes Tab
    <div class="tab attributes" data-group="primary" data-tab="attributes"> --}}
      {{!-- As you add new fields, add them in here! --}}
      {{!-- <div class="resource">
        <label class="resource-label">Spell Level</label>
        <input type="text" name="system.effect" value="{{system.effect}}" data-dtype="String"/>
      </div> --}}
    {{!-- </div> --}}
  </section>
</form>
