<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <br>
      <div>
        Beginners Luck: <input type="checkbox" name="system.beginners_luck" data-dtype="Boolean" {{checked system.beginners_luck}}/>
      </div>
      <div>
        Based On:
          <select name="system.based_on">
            {{selectOptions system.based_on_options selected=system.based_on}}
          </select>


      </div>
      <br>
      <div>
        Rating: <input type="text" name="system.rating" value="{{system.rating}}" data-dtype="Number"/>
      </div>
      <br>
      <div>
        Passes: <input type="text" name="system.passes" value="{{system.passes}}" data-dtype="Number"/>
      </div>
      <br>
      <div>
        Fails: <input type="text" name="system.fails" value="{{system.fails}}" data-dtype="Number"/>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>

</form>
